
.nav.side-menu>li.active {
  border-right: 5px solid #005b7f;
}

.nav.side-menu>li.current-page {
  border-right: 5px solid #005b7f;
}

.boxTitleBody {
 display: inline-block;
 padding-top: 15px; 
 padding-bottom: 15px;
}

.customBox{
  border-color: transparent;
  height: 100%; 
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 0px;
  padding-left: 0px;
}

.imageBox {
  height: 100%; 
  width: 100%;
}

/*text*/

.boxTitle {
  font-family: Segoe UI;
  font-size: 25px;
  font-weight: bold;
}

.mainTitle {
  font-size: 21px;
  font-family: Segoe UI Semibold;
  padding-bottom: 2%;
  color: black !important;
  text-align: left;
}

.messageText {
  font-size: 18px;
  font-family: Segoe UI Semibold;
  padding-bottom: 2%;
  color: #73879C;
  text-align: center;
}


.searchButton {
  font-size: 14px;
  font-family: Segoe UI;
  background-color: #005b7f;
  height: 34px;
  color: white !important;
  border: solid 1px #005b7f !important;
}

.searchButton:hover {
  border-color: #CCCCCC !important;
  background-color: #CCCCCC;
}


.searchText {
  font-size: 14px;
  font-family: Segoe UI;
  height: 35px;
}

.pText {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: normal; 
}

.sideBarText {
  font-family: Segoe UI;
  font-size: 16px;
  text-align: center !important;
  font-weight: 200px;
  color:#72777a;
  padding-bottom: 8px;
}

.smallText {
  font-family: Segoe UI;
  font-size: 11px;
  font-weight: normal; 
}


.customBody {
  padding: 20px; 
  padding-top: 70px;
}

.courseButton {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #D5EAFA; 
  color: #72777a; 
  border-color: #D5EAFA; 
  cursor: pointer;
}

.courseButton:hover{
  background-color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  color: white !important;
}

.courseButtonActive{
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  color: white !important;
  margin-top: 200px !important;
  
}

.addCourseButton {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white; 
  color: #72777a; 
  border-color: #D5EAFA; 
}


.coursesBox {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

.customButtonReuniones {
  width: 165px !important;
  height: 35px;
  background-color: #005b7f;
  border-color: #005b7f;
  margin-right: 0px;
}

.customButton {
  height: 35px;
  background-color: #005b7f;
  border-color: #005b7f;
  margin-right: 0px;
  width: 120px !important;
}

.customButtonThin {
  height: 35px;
  background-color: #005b7f;
  border-color:#005b7f;
  margin-right: 0px;
  width: 100px;
}

.customButtonLarge {
  height: 35px;
  background-color: #005b7f;
  border-color:#005b7f;
  margin-right: 0px;
  width: 150px;
  padding-right: 0px;
  padding-left: 0px !important;
  margin-top: 10px;
}

.customButtonLarge2 {
  height: 35px;
  background-color: #005b7f;
  border-color:#005b7f;
  margin-right: 0px;
  width: 150px !important;
}

button:hover {
  background-color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  color: white !important;
}

button:focus {
  background-color: #CCCCCC !important;
  border-color: #CCCCCC !important;
  color: white !important;
}

.secondaryTitle {
  text-align: left; 
  margin-bottom: 0px; 
  margin-top: 5px;
  font-size: 18px;
}

.reportsTitle {
  text-align: center; 
  margin-bottom: 0px; 
  margin-top: 5px;
  font-size: 18px;
}

.courseContainer {
  padding-left: 0px;
  padding-right: 0px;
}

.barText {
  padding-bottom: 10px;
  padding-left: 5px;
}

input[type="checkbox"]{
  position: absolute;
  right: 9000px;
}

input[type="checkbox"] + .label-text:before{
  content: "\f096";
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing:antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
  content: "\f14a";
  color: #2980b9;
  animation: effect 250ms ease-in;
}

.groupBoxOptions {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*MODALS*/

.coursesModalBox {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.modal-body {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}

.modal-header {
  border: none;
  padding-bottom: 5px;
}

.rowModal {
  padding-bottom: 5px;
}

.rowFinal {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.rowFinal2 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
}

.buscarArchivo {
  padding-left: 5px;
  padding-right: 5px;
}

.footerButtons {
  padding-bottom: 5px;
}

.customButtonModal {
  height: 30px;
  background-color: #00626e;
  border-color: #00626e;
  margin-right: 0px;
  width: 80px !important;
}

.customButtonModalC {
  height: 30px;
  background-color: #00626e;
  border-color: #00626e;
  margin-right: 0px;
}

.iconModalUpload {
  font-size: 30px;

}

.iconContainer {
  text-align: center;
}
.modalCriteriosBox {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

td input[type="checkbox"] {
  float: left;
  margin: 0 auto;
  width: 100%;
}
.customModal {
  width: 400px; 
  display: inline-block; 
  vertical-align: middle; 
  height: 400px;
}

.customInput {
  border-radius: 4px;
}

.customInput:focus {
  box-shadow: 0 0 0 0.2rem rgba(33,150,243,.25) !important;
  border-color: #9acffa;
}

.inputRight {
  padding-left: 5px !important;
}
.inputLeft {
  padding-right: 5px !important;
}

/*
.activeButton{
  background-color: #666;
  color: white;
}
*/

li:before {
  background-color: white !important;
}

li:after {
  border-left: transparent !important;
}

li {
  border-left: transparent !important; 
}

.btnCriteria {
  border-radius: 0px !important;
}

.resultContainer {
  height: 150px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px !important;
}

@media screen and (max-width: 600px) {
  .resultContainer {
    height: 180px;
  }
}

.resultButton {
  background-color: white; 
  color: #72777a; 
  border-color: white; 
  margin-bottom: 0px !important;

}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  /*whatever width you want*/
}

.pnotify-center {
  background-color: #D5EAFA !important;
  top: 15px;
  left: 580px;

}

.ui-pnotify .ui-pnotify-container {
  color: black;
  background-color: #D5EAFA !important;
  border-color: #D5EAFA !important;
}


.descriptionInput {
  margin: 0px; 
  height: 87px; 
  width: 100%; 
  resize: none;
}

.avisosModal {
  width: 600px; 
  height: 300px;
}

@media screen and (max-width: 768px) {
  .avisosModal {
    width: 400px;
  } 


  .customInputDocsReunionesModal {
    border-radius: 4px;
    height: 20px;
  }

  .customInputDocsReuniones {
    border-radius: 4px;
    height: 25px;
  }

  .userName {
    display: inline-block;
  }

   .modalResultados {
    width: 500px !important; 
    height: 300px;
    display: inline-block; 
    vertical-align: middle; 
  }



  @media screen and (max-width: 500px) {
    .userName {
      display: block;
    }
  }

 

  @media screen and (max-width: 500px) {
    .modalResultados {
    width: 90% !important; 
    height: 300px;
  }
  }




  /*PARA CUANDO SE EJECUTE UN AJAX Y ESTÉ CARGANDO*/
/*.modalCargando {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading .modalCargando {
    overflow: hidden;   
}

body.loading .modalCargando {
    display: block;
}
*/