.boxTitleBody {
     display: inline-block;
     padding-top: 15px; 
     padding-bottom: 15px;
  }

  .customBox{
    border-color: transparent;
    height: 100%; 
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .imageBox {
    height: 100%; 
    width: 100%;
  }

  /*text*/

  .boxTitle {
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: bold;
  }

  .mainTitle {
    font-size: 21px;
    font-family: Segoe UI Semibold;
    padding-bottom: 2%;
    color: black;
  }

  .searchButton {
    font-size: 16px;
    font-family: Segoe UI;
    background-color: #00626e;
    height: 34px;
    color: white !important;
  }

  .searchText {
    font-size: 14px;
    font-family: Segoe UI;
    height: 35px;
  }

  .pText {
    font-family: Segoe UI;
    font-size: 14px;
  }

  .customBody {
    padding: 20px; 
    padding-top: 70px;
  }

  .courseButton {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .coursesBox {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .customButton {
    height: 35px;
    background-color: #00626e;
    border-color: #00626e;
  }

  .secondaryTitle {
    text-align: left; 
    margin-bottom: 0px; 
    margin-top: 5px;
    font-size: 18px;
  }
